attrs==18.2.0
Automat==0.7.0
constantly==15.1.0
dpkt==1.9.1
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
PyDispatcher==2.0.5
PyExecJS==1.5.1
PyHamcrest==1.9.0
pyHook==1.5.1
PyMouse==1.0
pyperclip==1.6.4
PyUserInput==0.1.11
pywin32==223
queuelib==1.5.0
scapy==2.4.1
six==1.11.0
zope.interface==4.5.0
